## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("/Users/brendenmertz/Documents/GitHub/Bootcamp/06-APIs/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,58.64,77,100,13.47,overcast clouds
1,1,Ilulissat,GL,69.2167,-51.1000,41.02,87,100,6.91,overcast clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,42.91,87,40,17.27,light intensity shower rain
3,3,Mattru,SL,7.6244,-11.8332,73.20,99,63,2.53,light rain
4,4,Fuling,CN,29.7022,107.3919,75.96,97,100,5.10,heavy intensity rain

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Fuling,CN,29.7022,107.3919,75.96,97,100,5.10,heavy intensity rain
7,7,Tongren,CN,27.7172,109.1853,84.70,73,100,9.26,overcast clouds
17,17,Berdigestyakh,RU,62.0989,126.6992,77.76,44,38,10.40,scattered clouds
18,18,Buala,SB,-8.1450,159.5921,81.07,81,100,10.00,light rain
26,26,Vaini,TO,-21.2000,-175.2000,78.96,69,20,9.22,few clouds
...,...,...,...,...,...,...,...,...,...,...
683,683,Garango,BF,11.8000,-0.5506,83.34,60,100,6.91,overcast clouds
684,684,Kalaleh,IR,37.3807,55.4916,79.16,69,75,4.61,broken clouds
685,685,Inuvik,CA,68.3499,-133.7218,79.56,33,75,5.75,broken clouds
687,687,Kununurra,AU,-15.7667,128.7333,76.98,31,100,14.97,overcast clouds
688,688,Fukue,JP,32.6881,128.8419,77.36,100,100,14.97,fog

In [29]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                258
City                   258
Country                258
Lat                    258
Lng                    258
Max Temp               258
Humidity               258
Cloudiness             258
Wind Speed             258
Current Description    258
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Fuling,CN,75.96,heavy intensity rain,29.7022,107.3919,
7,Tongren,CN,84.70,overcast clouds,27.7172,109.1853,
17,Berdigestyakh,RU,77.76,scattered clouds,62.0989,126.6992,
18,Buala,SB,81.07,light rain,-8.1450,159.5921,
26,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
27,Kirakira,SB,81.55,moderate rain,-10.4544,161.9205,
28,Albany,US,79.45,scattered clouds,42.6001,-73.9662,
31,Kumluca,TR,76.37,clear sky,36.3703,30.2869,
35,Abu Kamal,SY,76.75,clear sky,34.4506,40.9171,
37,Saint George,US,93.79,few clouds,37.1041,-113.5841,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:  
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df[hotel_df["Hotel Name"] == ""]
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,Kumluca,TR,76.37,clear sky,36.3703,30.2869,Akkol Apart
37,Saint George,US,93.79,few clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
46,Altar,MX,93.25,few clouds,30.7000,-111.8167,Hotel Maria Elena
49,Hong Gai,VN,87.71,overcast clouds,20.9560,107.0946,Hạ Long DC Hotel
55,Kavaratti,IN,82.31,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/brendenmertz/Documents/GitHub/Bootcamp/06-APIs/Vacation_Search/WeatherPy_Database.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather </dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))