## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/brendenmertz/Documents/GitHub/Bootcamp/06-APIs/Vacation_Search/WeatherPy_Database.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,31,Kumluca,TR,76.37,clear sky,36.3703,30.2869,Akkol Apart
1,37,Saint George,US,93.79,few clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
2,46,Altar,MX,93.25,few clouds,30.7000,-111.8167,Hotel Maria Elena
3,49,Hong Gai,VN,87.71,overcast clouds,20.9560,107.0946,Hạ Long DC Hotel
4,55,Kavaratti,IN,82.31,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
...,...,...,...,...,...,...,...,...
199,683,Garango,BF,83.34,overcast clouds,11.8000,-0.5506,La Case LAVAL-GARANGO
200,684,Kalaleh,IR,79.16,broken clouds,37.3807,55.4916,کلاله
201,685,Inuvik,CA,79.56,broken clouds,68.3499,-133.7218,Nova Inn Inuvik
202,687,Kununurra,AU,76.98,overcast clouds,-15.7667,128.7333,Hotel Kununurra
203,688,Fukue,JP,77.36,fog,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather </dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Virginia Beach"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Virginia Beach"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Palmer"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Mayo"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Tarboro"]

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [tuple(r) for r in vacation_start[["Lat", "Lng"]].to_numpy()][0]
end =  [tuple(r) for r in vacation_end[["Lat", "Lng"]].to_numpy()][0]
stop1 =  [tuple(r) for r in vacation_stop1[["Lat", "Lng"]].to_numpy()][0]
stop2 =  [tuple(r) for r in vacation_stop2[["Lat", "Lng"]].to_numpy()][0]
stop3 =  [tuple(r) for r in vacation_stop3[["Lat", "Lng"]].to_numpy()][0]
end

(36.8529, -75.978)

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
trip_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(trip_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,656,Virginia Beach,US,79.02,scattered clouds,36.8529,-75.9780,Hilton Virginia Beach Oceanfront
1,518,Palmer,US,76.37,scattered clouds,42.1584,-72.3287,Wedgewood Motel
2,651,Mayo,US,79.21,few clouds,38.8876,-76.5119,Resorts Resource Group International
3,511,Tarboro,US,80.98,clear sky,35.8968,-77.5358,SureStay Plus Hotel Tarboro by Best Western

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Weather </dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))